<!DOCTYPE html>>
<html>
<head>
    <title>About Us</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/about.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <h1>About Us</h1>
    </header>
    <section class="about">
        <div class="container">
            <div class="content-section">
                <div class="content">
                    <h3>Tony Maiyo</h3>
                    <p>
                        A 5th Year electrical and electronics engineering also pursuing a software engineering course at ALX. 
                        I am determined to pursue a career in software engineering,
                        and as such I am looking for an internship opportunity that will help <br>me set a foot in that field. 
                        <br>
                        I am a dedicated, hardworking learner with a zeal to grow.
                    </p>
                </div>
                <div class="social">
                    <a href="https://github.com/maiyo008"><i class="fa fa-github"></i></a>
                    <a href="https://www.linkedin.com/in/tonymaiyo47157b1b1/"><i class="fa fa-linkedin-square"></i></a>
                    <a href="https://twitter.com/alphonse_rabi"><i class="fa fa-twitter"></i></a>
                </div>
            </div>
            <div class="content-section2">
                <div class="content">
                    <h3>Muthee Purity Mumbi</h3>
                    <p> I am a dynamic and professional front-end developer. <br>I am driven by a passion for creating exceptional user experiences through web development. With my expertise, I bring websites to life with creative designs and proficient coding techniques.<br>

                        As a front-end developer, my goal is to bridge the gap between design and technology.
                        <br>Join me on this exciting journey as we push the boundaries of front-end development, striving to deliver outstanding user experiences that leave a lasting impression. Feel free to contact me today, and let's bring your web presence to life!
                    </p>
                </div>
                <div class="social">
                    <a href="https://github.com/63brown"><i class="fa fa-github"></i></a>
                    <a href="www.linkedin.com/in/purity-muthee"><i class="fa fa-linkedin-square"></i></a>
                    <a href="https://medium.com/@mutheemumbi01"><i class="fa fa-medium"></i></a>
                </div>
            </div>
        </div>
    </section>
</body>
</html>