<!DOCTYPE html>
<html>
<head>
  <title>Groomer's Page</title>
  <link rel="stylesheet" href="../static/styles/groomer.css">
</head>
<body>
  <div class="container">
    <div class="header">
      <h1>Groomers</h1>
    </div>
    <div class="groomers">
      {% for groomer in groomers %}
      <div class="box">
        <h2>Groomer </h2>
        <p>Name: {{ groomer.name }}</p>
        <p>Email: {{ groomer.email }}</p>
        <p>Contact: {{ groomer.email }}</p>
        <p>Location: {{ groomer.town_name }}</p>
        <a href="/services" class="services-link">View Services</a>
      </div>
      {% endfor %}
    </div>
  </div>
</body>
<footer>
  <div class="footer">
    &copy; 2023 DogPlug. All rights reserved.
  </div>
</footer>
</html>
