<!DOCTYPE html>
<html>
<head>
  <title>Groomer's Page</title>
  <link rel="stylesheet" href="styles/groomer.css">
</head>
<body>
    <header>
        <h1>Groomer</h1>
    </header>

  <div class="container">
    <div class="info">
      <h2>Groomer:</h2>
      <p></p>
    </div>

    <div class="info">
      <h2>Contact:</h2>
      <p>Phone: </p>
      <p>Email: </p>
    </div>

    <div class="info">
      <h2>Location:</h2>
      <p></p>
    </div>

    <div class="info">
      <h2>Price of Service:</h2>
      <p></p>

    </div>

    <a href="book.html" class="btn">Book Now</a>
  </div>

  <div class="footer">
    &copy; 2023 DogPlug. All rights reserved.
  </div>
</body>
</html>
