<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dog Plug</title>
    <link rel="stylesheet" href="../static/styles/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<main>
<body>
    <section class="features" section id="feature">
        <h1>Services Offered</h1> 
        <p>These are the services offered by our groomers</p> 

        {% for service in services %}
        <div class="feature-column">
            <h3>{{ service.description }}</h3>
            <p>duration: {{ service.duration }}</p>  
            <p>Price: Ksh.{{ service.price }}</p> 
           </div>
        {% endfor %}
    </section>

    <script src="scripts/main.js"></script>
</body>
</main>
</html>